@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3A3A3A;
}
:root{
  --primary-color: #3A3A3A;
  --secondary-color: #E02C6D;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  max-width: 1200px;
  margin: 0 auto;
  width: 83%;
  display: flex;
  justify-content: space-between;
  padding-top: 96px;

}
.nav h2{
  color: var(--primary-color);
  font-size: 1.5rem;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  gap: clamp(1rem,2.6vw,2.1rem);
  
}
.nav ul li {
  list-style: none;
  
}
.nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
}
.banner{
  max-width: 1188px;
  margin: 0 auto;
  width: 82%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 51px;
  margin-bottom: 170px;
}
.banner-content h1{
  font-size: 3.1rem;
  font-weight: bold;

}
.banner-content p{
  font-weight:semibold;
  
}
.banner-content button{
  margin-top: 32px;
  padding: 16px 32px;
  background-color: var(--secondary-color);
  color: #FFFFFF;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
}
.banner-img .img-wrapper1{
   width: clamp(190px,32vw,475px);
   height: clamp(190px,32vw,475px);
   border: 3px solid #F1E4FF;
   border-radius: 50%;
  display: flex;
  justify-content: center;  
  align-items: center;

 

}

.banner-img .img-wrapper2{
   width: clamp(132px,23vw,332px);
   height: clamp(132px,23vw,332px);
   background-color: #F1E4FF;
   border-radius: 50%;
   overflow: visible;
}
.banner-img img{
   width: 125%;
   transform: translate(-15%, -5%);
   object-fit: cover;
}
.logos{
  max-width: 1110px;
  width: 77%;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
  
  align-items: center;
  justify-content: center;

}
.logos .logo-group1{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:30px;
  align-items: center;
  justify-content: center;
}
.logos .logo-group2{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:30px;
  align-items: center;
  justify-content: center;
}
.products h2{
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 30px;
}
.products .product-container{
  max-width: 1047px;
  width: 72%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 0 auto;
  gap: 30px;

}

.product-container .product-grid{
  padding: 1rem;
  text-align: left;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product-container .product-grid h2{
  text-align: left;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 6px;
  
}
.product-grid .rating{
  display: flex;
  gap: 10px;
  align-items: center;
}
.product-container .product-grid h3{
  font-size: .9rem;
  letter-spacing: 1.8%;
  font-weight: 400;;

}
.load-more-btn{
  background-color: none;
  border: none;
  justify-items: end;
  grid-column: span 3;
  background: none;
  justify-self: end;
  color:#E02C6D;
  font-weight: 600;
  
}
.footer-content{
  background-color: #272727;
  border: 2px solid #272727;
  width: 100%;
  text-align: center;
  padding: 50px 0px;
  color: #FFFFFF;
}



















  
   
@media screen and (max-width: 576px) {
    .banner{
 
      flex-direction: column-reverse;
      text-align: center;
      gap: 32px;
}
  .banner-content h1{
    font-size: 1.9rem;
  }
   .banner-content p{
    font-size: 0.9rem;
  }
  .nav ul {
  flex-direction: column;
  justify-content: space-between;
  gap: clamp(1rem,2.6vw,2.1rem);
  
}
.logos{
  flex-direction: column;
  align-items: center;
  gap: 20px;



}
.logo-group1, .logo-group2{
  
  gap:10px;
}
.logos img{
  width: 100%;
  
  height: auto;
}
.products .product-container{

  grid-template-columns: repeat(1,1fr);
  width: 90%;
}

 }